h2 {
    font-family:arial;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
	border-style: solid;
    border-color: yellow;
    border-width: thin;
    display: table;
    margin: 0;
    padding: 0;
    width:600px;
    height: 600px;
}
.square-line {

 
    display: table-row;
    width:600px;
    /*background-color: green;
    background-color: white;
    border-style: solid;
    border-color: red;
    border-width: thin;*/
    margin: 0;
    padding: 0;


}

.square {

    display: table-cell;
    background-color: white;
    /* background-color: white; 
    padding: 10px;
    margin: 0;*/
    border-style: solid;
    border-color: black;
    border-width: thin;
    
}

.change {

    
    background-color: black;
    /* background-color: white; */

}
.button{
    display: inline;
}

.button, .colorButton, .BWbutton, .newGrid {
    
    height:20px;
	width:24%;
	background-color:#9C27B0;
	font-family:arial;
	font-weight:normal;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}



