h2 {
    font-family:arial;
}


.container {
	
	border-style: solid;
    border-color: yellow;
    border-width: thin;
    display: table;
    margin: 0;
    padding: 0;

}
.square-line {

 
    display: table;
    background-color: green;
    /* background-color: white; */
    border-style: solid;
    border-color: red;
    border-width: thin;
    margin: 0;
    padding: 0;


}

.square {

    display: inline-block;
    background-color: white;
    /* background-color: white; */
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin: 0;
}

.change {

    
    background-color: black;
    /* background-color: white; */

}

.button{
    
    height:20px;
	width:100px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:normal;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}